* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html {
  scroll-behavior: smooth;
}
:root {
  --blue: rgb(6, 6, 20);
  --peach: rgb(211, 163, 101);
  --secondary: rgb(51, 83, 143);
  --grey: hsl(209, 39%, 38%);
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --clr-primary-5: hsl(205, 78%, 60%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
}
main {
  background-color: var(--blue);
  color: #fff;
}
/* navbar section starts */
nav {
  background: rgb(49, 48, 48);
  box-shadow: 0 0 15px rgba(68, 65, 65, 0.2);
  position: sticky;
  top: 0;
  z-index: 1;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.fa-times {
  display: none;
}
.nav-toggle {
  font-size: 1.5rem;
  color: #fff;
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.heading {
  height: 40px;
  letter-spacing: var(--spacing);
}
.links a {
  color: #fff;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.links a:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-5);
  padding-left: 1.5rem;
}
.links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 9.5rem;
}
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    height: auto;
    display: flex;
  }
  .links a {
    padding: 0;
    font-weight: 600;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
}

/* nav section ends */

/* about section starts */
.about {
  min-height: 100vh;
  padding-top: 15vh;
  position: relative;
  background: rgb(6, 6, 20);
}
.about .about-container {
  padding: 0 5rem;
}
.about .row {
  display: flex;
}
.about .about-container .about-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 30px;
  margin: 0 3rem;
  color: #fff;
}

.about .about-container .self-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  width: 41.66666667%;
}
.about .about-container .self-image img {
  margin: 5rem;
  box-shadow: 0 0 30px var(--secondary);
  border-radius: 100%;
  width: 330px;
}
.bio span {
  color: var(--clr-primary-5);
  letter-spacing: 2px;
}
.about-content {
  line-height: 20px;
  letter-spacing: 0.06rem;
}
.intro {
  letter-spacing: 2px;
}
.icons {
  display: flex;
  gap: 1rem;
}
.social-icons a {
  text-decoration: none;
}
.social-icons a i {
  font-size: 1.4rem;
  color: var(--clr-primary-5);
  border: 1px solid var(--clr-primary-5);
  border-radius: 50%;
  padding: 0.4rem;
  margin-top: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-container {
  margin-top: 1rem;
}
.button {
  margin-top: 1rem;
  border-radius: 5rem;
  padding: 0.5rem 1.5rem;
  letter-spacing: 0.2em;
  font-size: 0.9rem;
  background: #275c82;
  /* border: 1px solid #fff; */
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
@media screen and (max-width: 847px) {
  .row {
    flex-direction: column;
    align-items: center;
  }
  .about {
    padding-top: 2vh;
  }
  .about .about-container {
    padding: 0 1rem;
  }
  .about .about-container .about-info {
    margin: 0 1rem;
  }
  .about .about-container .about-info {
    line-height: 35px;
  }
  .about .about-container .self-image img {
    display: none;
  }
  .bio {
    margin-bottom: 1.2rem;
  }
}
/* about section ends */

/* projects section starts */
.project {
  color: #fff;
  padding: 5rem 0;
}
.project-container {
  padding: 0 5rem;
}
.project-heading {
  font-size: 3rem;
  text-align: center;
}
.projects-display {
  padding: 3rem 0;
}
.row {
  display: flex;
  gap: 1.7rem;
}
.project-item {
  /* background: cadetblue; */
  border-radius: 1rem;
  height: 100%;
  border: 2px solid #196265;
  /* box-shadow: 0 0 10px 0 rgba(43, 63, 105, 0.5); */
}

.project-image {
  text-align: center;
}
.project-image img {
  height: 300px;
  width: 100%;
  border-radius: 0.9rem 0.9rem 0 0;
}
.project-name h2 {
  padding: 10px;
  font-size: 20px;
  text-align: center;
}
.project-about-content {
  height: auto;
}
.project-about-content p {
  width: 90%;
  letter-spacing: 0.1rem;
  margin: 0 auto;
}
.project-link {
  margin: 0 1rem;
  display: flex;
  margin-top: 0.4rem;
  gap: 1rem;
  align-items: center;
}
.project-item-link {
  margin: 10px auto;
  padding: 0.5rem 0.075rem;
  text-align: center;
  border: 2px solid #eee;
  background: #275c82;
  margin-bottom: 1.3rem;
  width: 50%;
  border-radius: 5rem;
  font-size: 0.9rem;
}
.project-item-link a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.04rem;
}
@media screen and (max-width: 747px) {
  .project-container {
    padding: 0 2rem;
  }
}
/* projects section ends */
.education {
  padding: 100px 0;
}
.education-container {
  padding: 0 3rem;
}
.education-heading {
  font-size: 2rem;
  text-align: center;
}
.education-row {
  width: 70%;
  margin: auto;
}
.education-content {
  border-radius: 10px;
  background: #196265;
  margin: 40px auto;
  padding: 20px;
}
.education-logo {
  flex: 0 0 auto;
  padding: 0 5rem;
  display: flex;
  align-items: center;
}
.content-logo {
  text-align: center;
}
.content-logo img {
  width: 170px;
  height: 150px;
  border-radius: 0.2rem;
}
.education-detail {
  color: #fff;
  padding: 10px;
  letter-spacing: 0.1rem;
}
.education-name {
  /* font-size: 20px; */
  margin-bottom: 0.4rem;
}
.education-duration {
  margin-bottom: 1rem;
}
.education-technology {
  /* font-size: 18px; */
  margin-bottom: 1rem;
}
.education-course {
  margin-bottom: 1rem;
  font-size: 17px;
}
@media screen and (max-width: 747px) {
  .education-row {
    width: 90%;
  }
  .education-container {
    padding: 0 1rem;
  }
  .education-detail {
    text-align: center;
  }
}
/* education section ends */

/* contact section starts */
.contact {
  padding: 100px 0;
}
.contact-heading {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 30px;
}
.container-box {
  border-radius: 10px;
  background: #196265;
  width: 90vw;
  margin: auto;
  padding: 2rem;
  max-width: max(60vw, 320px);
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.form-info {
  padding-bottom: 0.5rem;
  width: 100%;
}

.contact-forms {
  display: flex;
  flex-direction: column;
  width: 100%;
}
label {
  margin-bottom: 0.5rem;
  color: #fff;
  letter-spacing: 0.06rem;
}
input {
  border-radius: 7px;
  box-shadow: 0 0 5px 0 rgba(109, 94, 94, 0.9);
  width: 100%;
  padding: 0.7rem;
  border: 2px solid rgb(51, 83, 143);
}
.input-width {
  width: 100%;
}
textarea {
  width: 100%;
  padding: 0.7rem;
  border-radius: 8px;
  border: 2px solid rgb(51, 83, 143);
}

@media screen and (min-width: 767px) {
  .form-info:nth-child(1),
  .form-info:nth-child(2) {
    width: calc(50% - 0.5rem);
  }
}
.contact-button {
  margin-top: 1rem;
  border-radius: 5rem;
  padding: 0.5rem 1.5rem;
  letter-spacing: 0.2em;
  font-size: 0.9rem;
  background: #275c82;
  border: 1px solid #fff;
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

/* footer section starts */
footer {
  background: rgb(49, 48, 48);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}
.footer-icons {
  display: flex;
  gap: 1.3rem;
  margin-bottom: 0.6rem;
}
