* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root {
  --blue: rgb(8, 8, 34);
  --peach: rgb(211, 163, 101);
  --secondary: rgb(51, 83, 143);
}
/* header section starts */
.header {
  background: #1f1d1d;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}
.home-container {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  /* text-align: center; */
  align-items: center;
}
.heading {
  letter-spacing: 1px;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  font-weight: 500;
  text-transform: uppercase;
}
.navbar {
  display: flex;
  text-transform: capitalize;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 1.2rem;
  position: relative;
}
.navbar ul li a {
  text-decoration: none;
  color: #eee;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 1rem;
}
.navbar ul li::after {
  content: "";
  height: 2px;
  width: 0;
  background-color: burlywood;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}
.navbar ul li:hover::after {
  width: 100%;
}
.navbar ul li a:hover {
  color: #fff;
}
.navbar i {
  display: none;
  padding-right: 1rem;
  font-size: 1.4rem;
}

@media screen and (max-width: 847px) {
  .navbar ul {
    display: none;
  }
  .navbar i {
    display: block;
  }
}
/* header section ends */

/* about section starts */
.about {
  min-height: 100vh;
  padding-top: 15vh;
  position: relative;
  background: rgb(6, 6, 20);
}
.about .about-container {
  padding: 0 5rem;
}
.about .row {
  display: flex;
}
.about .about-container .about-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 30px;
  margin: 0 3rem;
  color: #fff;
}

.about .about-container .self-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  width: 41.66666667%;
}
.about .about-container .self-image img {
  margin: 5rem;
  box-shadow: 0 0 30px #e9a622;
  border-radius: 100%;
  width: 330px;
}
.bio span {
  color: var(--secondary);
  letter-spacing: 2px;
}
.about-content {
  line-height: 20px;
}
.intro {
  letter-spacing: 2px;
}
.icons {
  display: flex;
  gap: 1.3rem;
}
.social-icons a {
  text-decoration: none;
}
.social-icons a i {
  font-size: 1rem;
  color: var(--secondary);
  border: 1px solid var(--secondary);
  border-radius: 50%;
  padding: 0.4rem;
  margin-top: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-container {
  margin-top: 1rem;
}
.button {
  margin-top: 1rem;
  border-radius: 5rem;
  padding: 0.5rem 1.5rem;
  letter-spacing: 0.2em;
  font-size: 0.9rem;
  background: var(--secondary);
  border: 1px solid #fff;
  color: var(--white);
  cursor: pointer;
  text-decoration: none;
}
@media screen and (max-width: 847px) {
  .row {
    flex-direction: column;
    align-items: center;
  }
  .about {
    padding-top: 2vh;
  }
  .about .about-container {
    padding: 0 1rem;
  }
  .about .about-container .about-info {
    margin: 0 1rem;
  }
  .about .about-container .about-info {
    line-height: 35px;
  }
  .bio {
    margin-bottom: 1.2rem;
  }
}
/* about section ends */
